# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.build

# Webpack directories
.webpack
.webpackCache

# ts-coverage
coverage-ts-src
coverage-ts-test
.idea
.envrc
/coverage/
lib
types

#MAC hidden file
.DS_Store

# Direnv
.envrc

# yarn
yarn-error.log

# aws-durable-lambda
.adl